.fi-brands-github{
    font-size: 35px;
}

.fi-brands-github span{
    font-style: normal;
    font-size: 1.25rem;
}

.fi-brands-behance{
    font-size: 35px;
}

.fi-brands-behance span{
    font-style: normal;
    font-size: 1.25rem;
}